.drop {
    background-color: 	#E0E0E0;
    text-align: center;
  }
  .text{
    text-align: center;
  }
  .transperant-background{
    opacity: 0.9;
  }
  .h2-bg{
    opacity: 1;
    color: black;
  }