<ion-header>
  <ion-navbar>
    <ion-title>
      {{name}}'s day
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-content">
  <ion-toolbar no-border-top  class="background-element">
    <ion-segment [(ngModel)]="apps">
      <ion-segment-button value="notdone">
        TO DO
      </ion-segment-button>
      <ion-segment-button value="all" >
         All Tasks
        </ion-segment-button>
      <ion-segment-button value="top" >
        My Day
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  <br>
  <div *ngFor="let task of tasks" class="background-component" >
      <ion-item *ngIf="apps == 'notdone' && !task.isDone"  class="background-element" >
          <h1 text-center>To Do</h1>
          <br>
        <ion-checkbox (click)="changeState(task)" disabled="false"></ion-checkbox>
        <ion-label>{{task.name}}</ion-label>
      </ion-item>
    <ion-item *ngIf="apps == 'notdone' && task.isDone"  class="background-element">
      <br><br>
        <h1 text-center>Done</h1>
        <br>
      <ion-checkbox [(ngModel)]="task.isDone" disabled="true"></ion-checkbox>
      <ion-label>{{task.name}} </ion-label>
    </ion-item>
   
  </div>
  <ion-item *ngIf="apps == 'top'" class="background-component">
      <h1 text-center>My Day</h1>
      <br>
      <ion-item class="background-element">
    <h2 > <ion-icon name="star" color="bright"></ion-icon> You have to go to bed  {{remainigToSleepHours}} !</h2>
  </ion-item>
    <br>
    <ion-item class="background-element">
    <h2>
      <ion-icon name="star" color="bright"></ion-icon> Free time: 30 min</h2>
    </ion-item>
      <br>
    <ion-item class="background-element">
    <h2>
      <ion-icon name="star" color="bright"></ion-icon> Activities: {{tasksLength}}</h2>
    </ion-item>
      <br>
    <ion-item class="background-element">
    <h2>
      <ion-icon name="star" color="bright"></ion-icon> Productivity: 66%</h2>
    </ion-item>
    <br>
    <br>
    <br>
  <h1 text-center>Pinned Tasks:</h1>
  <br>
        <div *ngFor="let task of pinnedTasks" >
            <ion-item class="background-element">
                <h2>  <ion-icon name="star" color="bright"></ion-icon> {{task.name}} {{task.remaining}} </h2>
            </ion-item>
          </div>
    <br>

  </ion-item>
  <br>
  <ion-item *ngIf="apps == 'all'" class="background-component" >
    <h1 text-center>All Tasks</h1>
    <br>
    <div *ngFor="let task of tasks">
      <ion-item (click)="changeTask(task)" class="background-element" >
      {{task.name}} 
      </ion-item>
    </div>
  </ion-item>
  <br>
  <br>
<br>
  <ion-fab left bottom #fab>
    <button ion-fab color="dark">
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
    <ion-fab-list side="right">
      <button ion-fab (click)="goToNext(fab);">
          <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-fab (click)="refresh();">
          <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-fab  (click)="goToProgram(fab);">
          <ion-icon name="calendar"></ion-icon>
      </button>
      <button  ion-fab  (click)="goToNewTask(fab);">
          <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-label>Mute Notifications</ion-label>
      <ion-select [(ngModel)]="notifications" interface="action-sheet">
        <ion-option value="mute_15">For 15 Minutes</ion-option>
        <ion-option value="mute_1">For 1 Hour</ion-option>
        <ion-option value="mute_23">For 24 Hours</ion-option>
        <ion-option value="mute_inf">Until I turn it back on</ion-option>
      </ion-select>
    </ion-item>

  </ion-toolbar>
</ion-footer>