.background-content {
background-color: darkgray;
}

.content-h1 {
    width:40%;
}

.drop {
    background-color: 	#E0E0E0;
    text-align: center;
  }
  .text{
    text-align: center;
  }

  .item-background{
    background-color: darkgray;
  }
  .transperant-background{
    opacity: 0.9;
  }
  .h2-bg{
    opacity: 1;
    color: black;
  }