.background-content {
    background-color:  #E5E5FF;
    }
    .background-component {
        background-color:  #E5E5FF;
        border-radius: 25px;
        opacity: 0.7;
        }
        .background-element {   
            text-decoration: none;
            text-align: center;
            margin-bottom:10px;
            border-radius: 25px;
            }
            