.drop {
    text-align: center;
  }
  .text{
    text-align: center;
  }
  ion-content {
    background-image: url('../../assets/imgs/26016-free-beautiful-backgrounds_111840.jpg');
}
.item-background{
  background-color: darkgray;
}
ion-item{
  border-radius: 25px;

}
.rounded{
  border-radius: 25px;
}

h1{
  color: white;
}

h2{
  color: white;
}
